[MASTER]

# List of plugins (as comma separated values of python modules names) to load,
# usually to register additional checkers.
load-plugins=pylint_odoo

[MESSAGES CONTROL]

# ENABLE:
# C0411: standard import "from datetime import date, datetime" should be placed before "from odoo import fields" (wrong-import-order)
# C0413: Import "from xlsxwriter.workbook import Workbook" should be placed at the top of the module (wrong-import-position)
# R0914: Too many local variables (24/15) (too-many-locals)
# R0915: Too many statements (83/50) (too-many-statements)
# R1705: Unnecessary "else" after "return" (no-else-return)
# R1706: Consider using ternary (-1 if invoice_line_id.invoice_id.type in ['in_refund', 'out_refund'] else 1) (consider-using-ternary)
enable=odoolint,R0801,C0411,C0413,R0914,R0915,R1705,R1706

# DISABLE:
# C0111: Missing module docstring (missing-docstring)
# C0301: Line too long (101/100) (line-too-long)
# C0103: Variable name "AccountInvoice" doesn't conform to snake_case naming style (invalid-name)
# C0413: Import "from odoo import models, fields, api, _" should be placed at the top of the module (wrong-import-position)
# W0703: Catching too general exception Exception (broad-except)
# W1202: Use % formatting in logging functions and pass the % parameters as arguments (logging-format-interpolation)
# E1101: Instance of 'AccountInvoiceLine' has no 'analytic_tag_ids' member (no-member)
# E0401: Unable to import 'odoo.addons.web.controllers.main' (import-error)
# W0511 - should be enabled

## pylint-odoo
# attribute-string-redundant: The attribute string is redundant. String parameter equal to name of variable (attribute-string-redundant)
# C8101: One of the following authors must be present in manifest: 'Odoo Community Association (OCA)' (manifest-required-author)
# missing-readme: Missing required key "license" in manifest file (manifest-required-key)
# duplicate-code: Similar lines in 2 files
disable=C0114,C0115,C0111,C0301,C0103,C0413,W0703,W1202,E1101,E0401,W0511,C8101,C8102,R0903,R1710,attribute-string-redundant,missing-readme,duplicate-code
